################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCDemo/bin/MVCDemo.pdb
/MVCDemo/bin/MVCDemo.dll
/MVCDemo/obj/Debug/MVCDemo.pdb
/MVCDemo/obj/Debug/MVCDemo.dll
/SocketDemo/bin/Debug/SocketDemo.pdb
/SocketDemo/bin/Debug/SocketDemo.exe
/SocketDemo/obj/Debug/SocketDemo.pdb
/SocketDemo/obj/Debug/SocketDemo.exe
/SocketDemo/obj/Debug/SocketDemo.csproj.GenerateResource.Cache
/UpLoadDemo/bin/UpLoadDemo.pdb
/UpLoadDemo/bin/UpLoadDemo.dll
/UpLoadDemo/obj/Debug/UpLoadDemo.pdb
/UpLoadDemo/obj/Debug/UpLoadDemo.dll
/WebApiSwaggerDemo/bin/WebApiSwaggerDemo.pdb
/WebApiSwaggerDemo/bin/WebApiSwaggerDemo.dll
/WebApiSwaggerDemo/obj/Debug/WebApiSwaggerDemo.pdb
/WebApiSwaggerDemo/obj/Debug/WebApiSwaggerDemo.dll
