################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCDemo/bin/MVCDemo.pdb
